.gridPadre2 {
	display: grid;
	background-color: $background-color_3;
	gap: 40px;
	grid-template-areas: 
    "header header "
     "i10 i10" 
     "i11 i11" 
     "footer footer ";
	grid-template-rows: 5rem;
	grid-template-columns: 14%;
}
section#i10 {
	grid-area: i10;
	margin-left: 40px;
}
section#i11 {
	grid-area: i11;
	margin-left: 40px;
}