@media (max-width:1441px) {
	
}
.titulos{
    font-size: 40px;
}
.titulos1{
    font-size: 80px;
}
.titulosq{
    font-size: 50px;
}
.parrafo {
    font-size: 35px;
}
.encabezado {
    width: 100%;
}
.cajaDeLogo {
    width: 100%;
}
.cajaDelCarrito {
    width: 80%;
}
.navegador {
    width: 100%;
}
.cuadroDelFooter {
    width: 100%;
}
.gridPadre {
    width: 100%;
}
.gridPadre1 {
    width: 100%;
}
.gridPadre2 {
    width: 100%;
}
img#img1 {
    width: 100%;
    height: 100%;
}
img#img2 {
    width: 100%;
    height: 100%;
}
img#img3 {
    width: 100%;
    height: 100%;
}
img#img4 {
    width: 100%;
    height: 100%;
}
img#img5 {
    width: 100%;
    height: 100%;
}
img#img6 {
    width: 100%;
    height: 100%;
}
img#img7 {
    width: 100%;
    height: 100%;
}
img#img8 {
    width: 100%;
    height: 100%;
}
img#img9 {
    width: 100%;
    height: 100%;
}

@media (max-width:1199.98px) {
	img#img1 {
		width: 95%;
		height: 95%;
	}
	img#img2 {
		width: 95%;
		height: 95%;
	}
	img#img3 {
		width: 95%;
		height: 95%;
	}
	img#img4 {
		width: 95%;
		height: 95%;
	}
	img#img5 {
		width: 95%;
		height: 95%;
	}
	img#img6 {
		width: 95%;
		height: 95%;
	}
	img#img7 {
		width: 95%;
		height: 95%;
	}
	img#img8 {
		width: 95%;
		height: 95%;
	}
	img#img9 {
		width: 95%;
		height: 95%;
	}
	.titulos {
		font-size: 40px;
	}
	.tituloq {
		font-size: 40px;
	}
	.titulos1{
		font-size: 70px;
	}
	.parrafo {
		font-size: 25px;
	}
	
}
@media (max-width:1023.98px) {
	
	img#img1 {
		width: 90%;
		height: 90%;
	}
	img#img2 { 
		width: 90%;
		height: 90%;
	}
	img#img3 {
		width: 90%;
		height: 90%;
	}
	img#img4 {
		width: 90%;
		height: 90%;
	}
	img#img5 {
		width: 90%;
		height: 90%;
	}
	img#img6 {
		width: 90%;
		height: 90%;
	}
	img#img7 {
		width: 90%;
		height: 90%;
	}
	img#img8 {
		width: 90%;
		height: 90%;
	}
	img#img9 {
		width: 90%;
		height: 90%;
	}

	.titulos {
		font-size: 30px;
	}
	.titulosq {
		font-size: 30px;
	}
	.parrafo {
		font-size: 25px;
	}
	.titulos1{
		font-size: 60px;
	}
}
@media (max-width:499.98px) {
	   body.gridPadre{
		grid-template-areas: 
		"header" 
		"img1"
		"i1" 
		"img2"
		"i2"
		"img3"
		"i3" 
		"img4"
		"i4" 
		"footer";
		grid-template-rows:  5rem;
		grid-template-columns: 100%;
	 }
	 body.gridPadre1 {
		gap: 60px;
		grid-template-areas: 
		"header"
		"i5"
		"img5"
		"i6"
		"img6"
		"i7"
		"img7"
		"i8"
		"img8"
		"i9"
		"footer";
		grid-template-rows:5rem;
		grid-template-columns:100%;
	}
	body.gridPadre2 {
		gap: 40px;
		grid-template-areas: 
		"header"
		 "i10" 
		 "i11" 
		 "footer";
		grid-template-rows: 5rem;
		grid-template-columns: 100%;
	}
	body.gridPadre3 {
		grid-template-areas: 
		"header"
		"i12"
		"img9"
		"i13" 
		"footer";
		grid-template-rows: 5rem;
		grid-template-columns: 100%;
	}
	.imagenes {
		height: 150px;
		width: 200px;
	}
	.titulos {
		font-size: 30px;
	}
	.titulosq{
		font-size: 30px;
	}
	.titulos1{
		font-size: 60px;
	}
	.parrafo {
		font-size: 20px;
	}
	
}
@media (max-width:374.98px) {
	.imagenes {
		height: 100px;
		width: 150px;
	}
	.titulos {
		font-size: 30px;
		
	}
	.titulosq {
		font-size: 30px;
		
	}
	.titulos1{
		font-size: 60px;
	}
	
	.parrafo {
		font-size: 20px;
	}
 }
