@media (max-width:1441px) {
	
}
.titulos {
    font-size: 50px;
}
.parrafo {
    font-size: 40px;
}
.encabezado {
    width: 100%;
}
.cajaDeLogo {
    width: 100%;
}
.cajaDelCarrito {
    width: 80%;
}
.navegador {
    width: 100%;
}
.cuadroDelFooter {
    width: 100%;
}
.gridPadre {
    width: 100%;
}
.gridPadre1 {
    width: 100%;
}
.gridPadre2 {
    width: 100%;
}
img#img1 {
    width: 100%;
    height: 100%;
}
img#img2 {
    width: 100%;
    height: 100%;
}
img#img3 {
    width: 100%;
    height: 100%;
}
img#img4 {
    width: 100%;
    height: 100%;
}
img#img5 {
    width: 100%;
    height: 100%;
}
img#img6 {
    width: 100%;
    height: 100%;
}
img#img7 {
    width: 100%;
    height: 100%;
}
img#img8 {
    width: 100%;
    height: 100%;
}
img#publicidad{
    width: 151.63px;
    height: 1490px;
}
img#publicidad2{
    width: 151.63px;
    height: 1976px;
}
img#publicidad3{
    width: 151.63px;
    height: 670px;
}
@media (max-width:1199.98px) {
	img#img1 {
		width: 95%;
		height: 95%;
	}
	img#img2 {
		width: 95%;
		height: 95%;
	}
	img#img3 {
		width: 95%;
		height: 95%;
	}
	img#img4 {
		width: 95%;
		height: 95%;
	}
	img#img5 {
		width: 95%;
		height: 95%;
	}
	img#img6 {
		width: 95%;
		height: 95%;
	}
	img#img7 {
		width: 95%;
		height: 95%;
	}
	img#img8 {
		width: 95%;
		height: 95%;
	}
	img#publicidad{
		width: 131.63px;
		height: 1470px;
	}
	img#publicidad2{
		width: 131.63px;
		height: 1956px;
	}
	img#publicidad3{
		width: 131.63px;
		height: 650px;
	}
	.titulos {
		font-size: 40px;
	}
	.parrafo {
		font-size: 30px;
	}
}
@media (max-width:1023.98px) {
	
	img#img1 {
		width: 90%;
		height: 90%;
	}
	img#img2 { 
		width: 90%;
		height: 90%;
	}
	img#img3 {
		width: 90%;
		height: 90%;
	}
	img#img4 {
		width: 90%;
		height: 90%;
	}
	img#img5 {
		width: 90%;
		height: 90%;
	}
	img#img6 {
		width: 90%;
		height: 90%;
	}
	img#img7 {
		width: 90%;
		height: 90%;
	}
	img#img8 {
		width: 90%;
		height: 90%;
	}
	img#publicidad{
		width: 111.63px;
		height: 1450px;
	}
	img#publicidad2{
		width: 111.63px;
		height: 1936px;
	}
	img#publicidad3{
		width: 111.63px;
		height: 630px;
	}
	.titulos {
		font-size: 30px;
	}
	.parrafo {
		font-size: 20px;
	}
}
@media (max-width:499.98px) {
	.imagenes {
		height: 150px;
		width: 200px;
	}
	.titulos {
		font-size: 20px;
	}
	.parrafo {
		font-size: 10px;
	}
}
@media (max-width:374.98px) {
	.imagenes {
		height: 100px;
		width: 150px;
	}
	.titulos {
		font-size: 15px;
	}
	.parrafo {
		font-size: 10px;
	}
}