.gridPadre3 {
	display: grid;
	background-color: $background-color_3;
	gap: 40px;
	grid-template-areas: 
	"header header"
    "i12 i12"
    "img9 i13" 
    "footer footer";
	grid-template-rows: 5rem 10rem 20rem 5rem;
	grid-template-columns: 40%;
}
img#img9 {
	grid-area: img9;
}
section#i12 {
	grid-area: i12;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
section#i13 {
	grid-area: i13;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
	gap: 25px;
}
