
@media (max-width:1441px) {
	
}
.titulos {
    font-size: 50px;
}
.parrafo {
    font-size: 40px;
}
.encabezado {
    width: 100%;
}
.cajaDeLogo {
    width: 100%;
}
.cajaDelCarrito {
    width: 80%;
}
.navegador {
    width: 100%;
}
.cuadroDelFooter {
    width: 100%;
}
.gridPadre {
    width: 100%;
}
.gridPadre1 {
    width: 100%;
}
.gridPadre2 {
    width: 100%;
}
img#img1 {
    width: 100%;
    height: 100%;
}
img#img2 {
    width: 100%;
    height: 100%;
}
img#img3 {
    width: 100%;
    height: 100%;
}
img#img4 {
    width: 100%;
    height: 100%;
}
img#img5 {
    width: 100%;
    height: 100%;
}
img#img6 {
    width: 100%;
    height: 100%;
}
img#img7 {
    width: 100%;
    height: 100%;
}
img#img8 {
    width: 100%;
    height: 100%;
}
img#publicidad{
    width: 151.63px;
    height: 1490px;
}
img#publicidad2{
    width: 151.63px;
    height: 1976px;
}
img#publicidad3{
    width: 151.63px;
    height: 670px;
}