header {
  grid-area: header;
  width: 100%;
}
header div.cajaDeLogo {
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 14.5px;
}
header div.cajaDelCarrito {
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 10px;
}
header div.navegador {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  position: fixed;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
  right: 0px;
  top: 70px;
}
header div.navegador .e1 {
  text-decoration: none;
  color: #FE654F;
  background-color: white;
  border: black solid 4px;
  top: 25px;
  width: 135px;
  text-align: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
header div.navegador .e1:hover {
  font-weight: bold;
  background-color: #f3d79e;
  color: #f74c32;
  text-decoration: none;
  width: 185px;
  height: 41px;
}
header div.navegador .e2 {
  text-decoration: none;
  color: #FE654F;
  background-color: white;
  border: black solid 4px;
  top: 25px;
  width: 135px;
  text-align: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
header div.navegador .e2:hover {
  font-weight: bold;
  background-color: #f3d79e;
  color: #f74c32;
  width: 185px;
  height: 41px;
}
header div.navegador .e3 {
  text-decoration: none;
  color: #FE654F;
  background-color: white;
  border: black solid 4px;
  top: 25px;
  width: 135px;
  text-align: center;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
header div.navegador .e3:hover {
  font-weight: bold;
  background-color: #f3d79e;
  color: #f74c32;
  width: 185px;
  height: 41px;
}

.encabezado {
  background-color: white;
  border: 5px solid black;
  height: 90px;
  position: fixed;
  z-index: 1000;
}

footer {
  grid-area: footer;
}
footer .whasa {
  background-image: linear-gradient(#f74c32, #fc9918);
  width: 50px;
  height: 50px;
}
footer .gmail {
  background-image: linear-gradient(#f74c32, #fc9918);
  width: 90px;
  height: 50px;
}
footer .ig {
  background-image: linear-gradient(#f74c32, #fc9918);
  width: 90px;
  height: 50px;
}

.cuadroDelFooter {
  background-image: linear-gradient(#f74c32, #fc9918);
  border: 5px solid black;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.imagenes {
  margin-left: 20px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.titulos {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #FE654F;
  text-decoration: none;
  font-size: 40px;
}

.titulos1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #FE654F;
  text-decoration: none;
  font-size: 240px;
}

.titulosq {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #FE654F;
  text-decoration: none;
  font-size: 50px;
  transition: all 1s;
}
.titulosq:hover {
  font-size: 55px;
}

.parrafo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #FE654F;
  margin: 10px;
}

@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
}
.titulos {
  font-size: 40px;
}

.titulos1 {
  font-size: 80px;
}

.titulosq {
  font-size: 50px;
}

.parrafo {
  font-size: 35px;
}

.encabezado {
  width: 100%;
}

.cajaDeLogo {
  width: 100%;
}

.cajaDelCarrito {
  width: 80%;
}

.navegador {
  width: 100%;
}

.cuadroDelFooter {
  width: 100%;
}

.gridPadre {
  width: 100%;
}

.gridPadre1 {
  width: 100%;
}

.gridPadre2 {
  width: 100%;
}

img#img1 {
  width: 100%;
  height: 100%;
}

img#img2 {
  width: 100%;
  height: 100%;
}

img#img3 {
  width: 100%;
  height: 100%;
}

img#img4 {
  width: 100%;
  height: 100%;
}

img#img5 {
  width: 100%;
  height: 100%;
}

img#img6 {
  width: 100%;
  height: 100%;
}

img#img7 {
  width: 100%;
  height: 100%;
}

img#img8 {
  width: 100%;
  height: 100%;
}

img#img9 {
  width: 100%;
  height: 100%;
}

@media (max-width: 1199.98px) {
  img#img1 {
    width: 95%;
    height: 95%;
  }
  img#img2 {
    width: 95%;
    height: 95%;
  }
  img#img3 {
    width: 95%;
    height: 95%;
  }
  img#img4 {
    width: 95%;
    height: 95%;
  }
  img#img5 {
    width: 95%;
    height: 95%;
  }
  img#img6 {
    width: 95%;
    height: 95%;
  }
  img#img7 {
    width: 95%;
    height: 95%;
  }
  img#img8 {
    width: 95%;
    height: 95%;
  }
  img#img9 {
    width: 95%;
    height: 95%;
  }
  .titulos {
    font-size: 40px;
  }
  .tituloq {
    font-size: 40px;
  }
  .titulos1 {
    font-size: 70px;
  }
  .parrafo {
    font-size: 25px;
  }
}
@media (max-width: 1023.98px) {
  img#img1 {
    width: 90%;
    height: 90%;
  }
  img#img2 {
    width: 90%;
    height: 90%;
  }
  img#img3 {
    width: 90%;
    height: 90%;
  }
  img#img4 {
    width: 90%;
    height: 90%;
  }
  img#img5 {
    width: 90%;
    height: 90%;
  }
  img#img6 {
    width: 90%;
    height: 90%;
  }
  img#img7 {
    width: 90%;
    height: 90%;
  }
  img#img8 {
    width: 90%;
    height: 90%;
  }
  img#img9 {
    width: 90%;
    height: 90%;
  }
  .titulos {
    font-size: 30px;
  }
  .titulosq {
    font-size: 30px;
  }
  .parrafo {
    font-size: 25px;
  }
  .titulos1 {
    font-size: 60px;
  }
}
@media (max-width: 499.98px) {
  body.gridPadre {
    grid-template-areas: "header" "img1" "i1" "img2" "i2" "img3" "i3" "img4" "i4" "footer";
    grid-template-rows: 5rem;
    grid-template-columns: 100%;
  }
  body.gridPadre1 {
    gap: 60px;
    grid-template-areas: "header" "i5" "img5" "i6" "img6" "i7" "img7" "i8" "img8" "i9" "footer";
    grid-template-rows: 5rem;
    grid-template-columns: 100%;
  }
  body.gridPadre2 {
    gap: 40px;
    grid-template-areas: "header" "i10" "i11" "footer";
    grid-template-rows: 5rem;
    grid-template-columns: 100%;
  }
  body.gridPadre3 {
    grid-template-areas: "header" "i12" "img9" "i13" "footer";
    grid-template-rows: 5rem;
    grid-template-columns: 100%;
  }
  .imagenes {
    height: 150px;
    width: 200px;
  }
  .titulos {
    font-size: 30px;
  }
  .titulosq {
    font-size: 30px;
  }
  .titulos1 {
    font-size: 60px;
  }
  .parrafo {
    font-size: 20px;
  }
}
@media (max-width: 374.98px) {
  .imagenes {
    height: 100px;
    width: 150px;
  }
  .titulos {
    font-size: 30px;
  }
  .titulosq {
    font-size: 30px;
  }
  .titulos1 {
    font-size: 60px;
  }
  .parrafo {
    font-size: 20px;
  }
}
.gridPadre {
  display: grid;
  background-color: #D6EFFF;
  gap: 50px;
  grid-template-areas: "header header header" "img1 i1 i1" "img2 i2 i2" "img3 i3 i3" "img4 i4 i4" "footer footer footer";
  grid-template-rows: 80px 20rem 20rem 20rem 20rem 75px;
  grid-template-columns: 40%;
}

img#img1 {
  grid-area: img1;
}

img#img2 {
  grid-area: img2;
}

img#img3 {
  grid-area: img3;
}

img#img4 {
  grid-area: img4;
}

section#i1 {
  grid-area: i1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section#i2 {
  grid-area: i2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

section#i3 {
  grid-area: i3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

section#i4 {
  grid-area: i4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
}

.gridPadre3 {
  display: grid;
  background-color: #D6EFFF;
  gap: 40px;
  grid-template-areas: "header header" "i12 i12" "img9 i13" "footer footer";
  grid-template-rows: 20rem 20rem 20rem 20rem;
  grid-template-columns: 40%;
}

img#img9 {
  grid-area: img9;
}

section#i12 {
  grid-area: i12;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

section#i13 {
  grid-area: i13;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 25px;
}

.gridPadre1 {
  display: grid;
  background-color: #D6EFFF;
  gap: 20px;
  grid-template-areas: "header header" "i5 i5 " "img5 i6 " "img6 i7 " "img7 i8 " "img8 i9 " "footer footer";
  grid-template-rows: 20px 30rem 30rem 30rem 30rem 75px;
  grid-template-columns: 40%;
}

img#img5 {
  grid-area: img5;
}

img#img6 {
  grid-area: img6;
}

img#img7 {
  grid-area: img7;
}

img#img8 {
  grid-area: img8;
}

section#i5 {
  grid-area: i5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

section#i6 {
  grid-area: i6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

section#i7 {
  grid-area: i7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  justify-content: start;
}

section#i8 {
  grid-area: i8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  justify-content: start;
}

section#i9 {
  grid-area: i9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  justify-content: start;
}

.ps {
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
.ps:hover {
  width: 50px;
  height: 50px;
}

.gridPadre2 {
  display: grid;
  background-color: #D6EFFF;
  gap: 40px;
  grid-template-areas: "header header " "i10 i10" "i11 i11" "footer footer ";
  grid-template-rows: 5rem;
  grid-template-columns: 14%;
}

section#i10 {
  grid-area: i10;
  margin-left: 40px;
}

section#i11 {
  grid-area: i11;
  margin-left: 40px;
}

.gridPadre4 {
  display: grid;
  background-color: #D6EFFF;
  gap: 30px;
  grid-template-areas: "header header header" "i14 i14 i14" "footer footer footer";
  grid-template-rows: 10rem 30rem 4rem;
  grid-template-columns: 14%;
}

section#i14 {
  grid-area: i14;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */